.currencyContainer {
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.currency {
    list-style-type: none;
    padding: 10px 0;
}
.InputCurrency {
    display: block;
    width: 70%;
}
.imgCurrency_Container {
    width: 10%;
}
.ImgCurrency {
    width: 100%;
    object-fit: contain;
}